




.lcolumn__button {
  display: flex;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #F8F8F8;
  border-radius: 100px;
  justify-content: space-between;
  align-items: center;
}







.header__language {
  margin-left: 200px;
}


@media (max-width: 1269.98px) {
  .header__language {
      margin-left: 50px;
  }
}